.card-img-top {
  margin: 10px;
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}
.beers {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 18px;
}
.beer-wrapper {
  display: flex;
}
.beer-wrapper {
  display: flex;
}
.beer-wrapper {
  display: flex;
}